.landingPage {
  background-image: url("../../../public/screen.png") !important;
  width: 100%;
  height: 266px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.modifyBackage {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 540px;
  /* background-color: #FAFAFA; */
}
.modifyTitle {
  color: #d375b9;
  background-color: white;
  width: 540px;
  height: 64px;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
}
.modifyTitle h1 {
  font-size: 20px;
}

.modify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 527px;
  width: 540px;
  background-color: white;
  border-radius: 10px;
}
label {
  margin-bottom: 16px;
  color: #697386;
}
form input {
  height: 47px;
  width: 398px;
  outline: none;
}
form div {
  display: flex;
  flex-direction: column;
  height: 79px;
  width: 398px;
  padding-bottom: 15px;
}
.saveChange button {
  background-color: #d375b9;
  border: none;
  height: 47px;
  width: 540px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-top: 20px;
}
input {
  background-color: white;
  border: 0.2px #919499 solid;
  border-radius: 8px;
  box-shadow: 0px 5px 5px rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 0 15px;
  color: #9495a5;
  font-size: 18px;
}
/* Dark Theme */
.darkButton input {
  background-color: #3c4257;
  box-shadow: none;
  color: white;
}
.darkButton .modify,
.darkButton .modifyTitle {
  background-color: #25273d;
  color: white;
}
.darkButton label {
  color: white;
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (min-width: 40em) and (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .tasks {
    width: 600px;
    left: 10%;
  }
  .tasks .singleTask,
  .tasks .addTask input,
  .tasks .control {
    height: 48px;
    width: 500px;
  }
  .control {
    font-size: 8px;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (min-width: 30em) and (max-width: 40em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .tasks {
    width: 400px;
    left: 10%;
  }
  .tasks .singleTask,
  .tasks .addTask input,
  .tasks .control {
    height: 48px;
    width: 400px;
  }
  .control {
    font-size: 12px;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 30em) {
  .landingPage {
    width: 415px;
    height: 266px;
  }
  .modifyBackage {
    width: 335px;
    height: 544px;
    left: 0%;
  }
  /* .modifyBackage .modifyTitle, */
  .modifyBackage input {
    height: 47px;
    width: 310px;
  }
}
