.comleteSignUp {
  display: flex;

  align-items: center;
  justify-content: center;
  /* margin-top: 5%; */
  height: 100vh;
  background-image: url("../../../public/full.png");

}
.comleteSignUp {
  display: flex;
  background-image: ('../../../public/screen.png');
}
.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 491px;
  background-color: white;
}
.signUp h1 {
  color: #d375b9;
}
label {
  margin-bottom: 10px;
}
form input {
  height: 47px;
  width: 398px;
  outline: none;
}
form div {
  display: flex;
  flex-direction: column;
  height: 79px;
  width: 398px;
  padding-bottom: 15px;
}
.completeSignUp {
  background-color: #d375b9;
  border: none;
  height: 53px;
  width: 398px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}
.Back {
  background-color: #697386;
  border: none;
  height: 53px;
  width: 398px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.alternative {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.alternative button {
  border: none;
  background: none;
  color: #bc3e98;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (min-width: 44em) and (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .comleteSignUp {
    flex-direction: column;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (min-width: 34em) and (max-width: 44em) {
  .comleteSignUp {
    flex-direction: column;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .comleteSignUp {
    flex-direction: column;
    height: 836px;
    align-items: center;
    justify-content: center;
    /* width: 341px; */
    height: 836px;
  }
  .comleteSignUp form {
    width: 328px;
    height: 407px;
  }
  .comleteSignUp form div {
    height: 78px;
    width: 399px;
  }
  .comleteSignUp form input,
  .comleteSignUp form button {
    width: 313px;
    height: 47px;
  }
}
