.SignPage {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-top: 5%;

}
.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 491px;
  background-color: white;
}
.signUp h1 {
  color: #d375b9;
}
label {
  margin-bottom: 10px;
}
form input {
  height: 47px;
  width: 398px;
  outline: none;
}
form div {
  display: flex;
  flex-direction: column;
  height: 79px;
  width: 398px;
  padding-bottom: 15px;
}
.completeSignUp {
  background-color: #d375b9;
  border: none;
  height: 53px;
  width: 398px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.alternative {
  text-align: center;
}
.alternative button {
  border: none;
  background: none;
  color: #bc3e98;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
