.left {
  background-image: url("../../../public/under.png");
  height: 600px;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #d375b9;
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (min-width: 44em) and (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    /* font-size: 50%; */
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (min-width: 34em) and (max-width: 44em) {
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .left {
    width: 480px;
    height: 277px;
  }

}
